[project]
name = "open-cv-project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "streamlit",
    "pandas",
    "scikit-learn",
    "xgboost",
    "ipykernel>=7.1.0",
]
